:root {
  --heart: #4CAF50;
  --sword: #8f2a29;
  --sattck: #ff0400;
  --shield: #009988;
  --sshield: #1a645c;
  --speed: #cabd00;
  --steel: #A8A8C0;
  --water: #3899F8;
  --bug: #A8B820;
  --dragon: #7860E0;
  --electric: #F8D030;
  --ghost: #6060B0;
  --fire: #F05030;
  --fairy: #E79FE7;
  --ice: #58C8E0;
  --fighting: #A05038;
  --normal: #A8A090;
  --grass: #78C850;
  --psychic: #F870A0;
  --rock: #B8A058;
  --dark: #7A5848;
  --ground: #E9D6A4;
  --poison: #B058A0;
  --flying: #98A8F0;
  
}

.bg-heart {
  background-color: var(--heart) !important;
}

.bg-sword {
  background-color: var(--sword) !important;
}

.bg-sattck {
  background-color: var(--sattck) !important;
}

.bg-shield {
  background-color: var(--shield) !important;
}

.bg-sshield {
  background-color: var(--sshield) !important;
}

.bg-speed {
  background-color: var(--speed) !important;
}

.bg-steel {
  background-color: var(--steel) !important;
}

.bg-water {
  background-color: var(--water) !important;
}

.bg-bug {
  background-color: var(--bug) !important;
}

.bg-dragon {
  background-color: var(--dragon) !important;
}

.bg-electric {
  background-color: var(--electric) !important;
}

.bg-ghost {
  background-color: var(--ghost) !important;
}

.bg-fire {
  background-color: var(--fire) !important;
}

.bg-fairy {
  background-color: var(--fairy) !important;
}

.bg-ice {
  background-color: var(--ice) !important;
}

.bg-fighting {
  background-color: var(--fighting) !important;
}

.bg-normal {
  background-color: var(--normal) !important;
}

.bg-grass {
  background-color: var(--grass) !important;
}

.bg-psychic {
  background-color: var(--psychic) !important;
}

.bg-rock {
  background-color: var(--rock) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-ground {
  background-color: var(--ground) !important;
}

.bg-posion {
  background-color: var(--posion) !important;
}

.bg-flying {
  background-color: var(--flying) !important;
}

.rotate-horizontal-center {
  animation: rotate-horizontal-center 2s;
}

@keyframes rotate-horizontal-center {
  0% {
    transform: rotateX(-180deg);
  }
  
  100% {
    transform: rotateX(-360deg)
  }
}

.rotate-scale-up-vertical {
  animation: rotate-scale-up-vertical 1s linear both
}

@keyframes rotate-scale-up-vertical {
  0% {
    transform: scale(0.50) rotateY(0);
    
  }

  50% {
    transform: scale(0.75) rotateY(180deg)
  }

  100% {
    transform: scale(1) rotateY(360deg)
  }
}
.hola:active{
  animation: hola 1s linear both
}
@keyframes hola {
  0% {
    transform: rotateX(0)
  }

  100% {
    transform: rotateX(-360deg)
  }
}
.ola:hover{
  background-image: url('./img/PNG-Pokemon-trading-card-template-free-printable-BACK.webp');
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1
}
