html {
  box-sizing: border-box;
}

:root {
  --red: #DE2828;
  --shadow: #911717;
  --sky-blue: #008EE0;
  --dark-blue: #006BA8;
  --golden-yellow: #FFE500;
  --blue-pokimon: #2B4484;
}
body {
  margin: 0;
  font-family: 'Skranji', cursive;
}

*,
*:before,
*:after {
  font-family: inherit;
  font-size: 10px;
  box-sizing: inherit;
}

  
  .pokegrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 0px;
    background-color: #008ee044;
    backdrop-filter: blur(9px);
    position:relative;
  }

  @media (min-width:1475px){
    .pokegrid {
      max-width: 900px;
    }
  }
  
  .s-frame {
    width: 95%;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  @media (min-width:1475px){
    .s-frame {
      max-width: 900px;
    }
  }

  .l-s-frame {
    width: calc((100% - 20vh)/2);
    background-color: var(--red);
    border-top-left-radius: 15px;
  }

  .c-s-frame {
    width: 20vh;
    height: 100%;
  }

  .c-s-frame-up {
    height: 50%;
    background-color: var(--red);
  }

  .c-s-frame-bot {
    height: 50%;
    position: relative;
  }

  .rectangle {
    width: 20px;
    height: 100%;
    background-color: var(--red);
    z-index: 15;
  }

  .rectangleS {
    width: 100%;
    height: 20px;
    background-color: var(--red);
    z-index: 15;
  }

  .triangle {
    width: 45%;
    height: 45%;
    
  }

  .dd {
    background: linear-gradient(135deg, rgba(222,40,40,1) 50%, rgba(231,114,241,0) 50%);
  }

  .di {
    background: linear-gradient(225deg, rgba(222,40,40,1) 50%, rgba(231,114,241,0) 50%);
  }

  .t-circle {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #008ee044;
    backdrop-filter: blur(9px);
    border: none;
    border-radius: 150px 150px 0 0;
  }

   .t-circle-after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-top: solid 20px black;
    border-left: solid 20px black;
    border-right: solid 20px black;
    border-radius: 150px 150px 0 0;
    z-index: 30;
  }

  .t-circle-before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
    border-radius: 150px 150px 0 0;
    z-index: 35;
  } 

  

  .r-s-frame {
    width: calc((100% - 20vh)/2);
    background-color: var(--red);
    border-top-right-radius: 15px;
  }
  
  .light {
    position: absolute;
    z-index: 10;
    width: 98%;
    height: 95%;
    margin: 5px;
  }
  
  .s-light {
    border-top: solid 5px rgba(255, 255, 255, 0.2);
    border-left: solid 5px rgba(255, 255, 255, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .b-light {
    border-left: solid 5px rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 15px;
  }
  
  .b-circle {
     width: 70px; 
     height: 70px; 
     border-bottom: 5px solid var(--shadow);
     border-right: 5px solid var(--shadow);
     background-color: var(--red);
     border-radius: 15px 0 100% 0;
  }
  
  .s-circle {
    width: 25px; 
    height: 25px; 
    border-bottom: 5px solid var(--shadow);
    border-right: 5px solid var(--shadow);
    background-color: var(--red);
    border-radius: 15px 0 100% 0;
    background-color: var(--red);
  }
  
  .right-line-circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc((100% - 20vh)/2);
    height:  5px;
    background-color:  white;
  }
  
  .right-line-circle:after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 100%;
    height:  5px;
    background-color: var(--shadow);
  }
  
  .left-line-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc((100% - 20vh)/2);
    height:  5px;
    background-color:  white;
  }
  
  .left-line-circle:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height:  5px;
    background-color: var(--shadow);
  }

  .bottom-black-circle {
    width: 400px;
    height: 200px;
    background-color: var(--shadow);
    border-radius: 200px 200px 0 0;
    position: absolute;
    top: 0;
    left: 425px;
    transform: rotate(180deg)
  }
  
  .bottom-black-circle:before {
    content: '';
    width: 370px;
    height: 185px;
    background-color: black;
    border-radius: 185px 185px 0 0;
    position: absolute;
    bottom: -1.5px;
    left: 10px;
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
    z-index: 20;
  }
  
  .bottom-black-circle::after {
    content: '';
    width: 300px;
    height: 150px;
    background-color: var(--sky-blue);
    border-radius: 150px 150px 0 0;
    position: absolute;
    bottom: -2px;
    left: 50px;
    z-index: 30;
  }
  
  .bottom-right-line-circle {
    content: '';
    position: absolute;
    top: -1.5px;
    width: 425px;
    height:  5px;
    background-color: white;
  }
  
  .bottom-right-line-circle:after {
    content: '';
    position: absolute;
    top: 5px;
    left:0;
    width: 425px;
    height:  5px;
    background-color: var(--shadow);
  }
  
  .bottom-left-line-circle {
    position: absolute;
    top: -1.5px;
    right: 0;
    width: 425px;
    height:  5px;
    background-color:  white;
  }
  
  .bottom-left-line-circle:after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 425px;
    height:  5px;
    background-color: var(--shadow);
  }
  
  .abs {
    position: absolute;
  }
  
  .l {
    left: 0;
  }
  
  .t {
    top: 0
  }
  
  .r {
    right: 0;
  }
  
  .b {
    bottom: 0;
  }
  
  .rotate90 {
    transform: rotate(90deg);
  }
  
  .rotate27 {
    transform: rotate(270deg);
  }
  
  .rotate18 {
    transform: rotate(180deg)
  }